/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* GENERALI */
body{
    font-family: 'Roboto', sans-serif;
}
.immagini-prova{
    background-color: pink;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container{
    width: 70%;
    margin: 0 auto;
}
.small-btn{
    border: none;
    padding: 10px;
    height: 40px;
    border-radius: 25px;
}
.big-btn{
    border: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 35px;
}
.section-text{
    font-size: 24px;
}
.section-text>h1, .section-text>h2{
    margin-bottom: 40px;
}

/* HEADER */
header{
    height: 80vh;
    background-color: #3161E0;
    color: white;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    text-align: center;
    position: relative;
}
nav{
    line-height: 40px;
    padding-top: 2%;
}
nav ul{
   margin-left: 15%;
}
nav ul li{
    margin: 0 20px;
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: white;
}
.logo-box{
    width: 10%;
}
.logo-box img{
    width: 100%;
    vertical-align: middle;
}
.logo-box, nav ul{
    float: left;
    vertical-align: middle;
}
#accedi{
    width: 70px;
    vertical-align: middle;
    float: right;
}
header .section-text{
    width: 50%;
}
header .big-btn{
    margin-top: 40px;
}



/* MAIN */

/* IMMAGINI DELLE SECTION */
#first-section img{
    width: 60%;
}
#first-section .section-text{
    width: 35%;
    float: right;
}
#second-section img{
    width: 60%;
}
#second-section .section-text{
    width: 35%;
    float: left;
}
#third-section img{
    width: 60%;
}
#third-section .section-text{
    width: 35%;
    float: right;
}
#fourth-section img{
    width: 90%;
}
#fourth-section .section-text{
    width: 85%;
    margin: auto;
}
section{
    height: 100vh;
}




/* FOOTER */
footer{

}

/* DEBUG */
#first-section{
    background-color: pink;
}
#second-section{
    background-color: lightblue;
}
#third-section{
    background-color: pink;
}
#fourth-section{
    background-color: lightblue;
}